
# local env
.env
loxa/.env

# local env
.env
loxa/.env

.env
loxa/.env
.env
loxa/.env
.env
loxa/.env
loxa/.env
loxa/loxa/.env
*.pyc
__pycache__/
venv/
.venv/
db.sqlite3
frontend/chrome-device/
.env
loxa/.env
loxa/loxa/.env
*.pyc
__pycache__/
venv/
.venv/
db.sqlite3
frontend/chrome-device/
